<div class="row">
    <div class="col-md-5">

        <div class="panel panel-default">
            <div id ="panelDetView" class="panel-heading">
                <h2 class="panel-title text-center">Detail view of the basketball court selected</h2>    
            </div>
            <div class ="panel-body">
                <img id = " defImgDetailView " class ="img-responsive block-center" src="./supportImages/defaultphoto_bcourt.jpg" >
                <h4 class="titleDetailview"> Court Name </h4> 
                <p>{{ singleCourt.courtname }}</p>
                <h4 class="titleDetailview"> Adress </h4> 
                <p>{{ singleCourt.address }}</p>
                <h4 class="titleDetailview"> Tipology </h4> 
                <p>{{ singleCourt.tipology }}</p>
                <h4 class="titleDetailview"> Player Comments<button id = "buttonsDetailView" type="submit" class="btn btn-danger" ng-click="">Add comment</button> </h4>
                <textarea class="form-control" rows="3" placeholder="Have you played in this court recently? Don't hesitate and leave a comment"></textarea>
                <button id = "buttonsDetailView" class="btn btn-danger" ng-click="redirectToHome()">Back to Home</button>
            </div>

        </div>
    </div>

    <div class="col-md-7">
        <ng-map id="detail-map" center ="[{{ singleCourt.location[1] }}, {{ singleCourt.location[0] }}]">
            <custom-marker position ="[{{ singleCourt.location[1] }}, {{ singleCourt.location[0] }}]">
                <div>
                    <img src="./supportImages/basketball.png" >
                </div>
            </custom-marker>
            
        </ng-map> 
    </div>

</div>

