<div class="row content">
<!-- Google Map -->
    <div class="col-md-7">
        <div id="map_courts">
           <ng-map id="search-map"  center ="41.379799,2.1729903">
             <marker position="41.379799,2.1729903" animation="" title="You're here"></marker>
           </ng-map>
        </div>
    </div>
    <!-- queryForm.html -->

    <!-- Find Teammates (Query) Form -->
    <div class="col-md-5">

        <!-- Creates Main Panel -->
        <div class="panel panel-default">

            <!-- Panel Title -->
            <div class="panel-heading">
                <h2 class="panel-title text-center">Find your Basketball Courts<span class="glyphicon glyphicon-search"></span></h2>
            </div>

            <!-- Panel Body -->
            <div class="panel-body">

                <!-- Creates Form -->
                <form name ="queryForm">

                    <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                    <div class="form-group">
                        <label for="latitude">Your Latitude</label>
                        <input type="text" class="form-control" id="latitude" placeholder="" ng-model="formData.latitude" readonly>
                    </div>
                    <div class="form-group">
                        <label for="longitude">Your Longitude</label>
                        <input type="text" class="form-control" id="longitude" placeholder="" ng-model="formData.longitude" readonly>
                    </div>
                    <div class="form-group">
                        <label for="distance">Max. Distance</label>
                        <input type="text" class="form-control" id="distance" placeholder="" ng-model="formData.distance">
                    </div>

                    <!-- Note ng-true-value which translates check values into explicit gender strings -->
                    <label>Tipology</label>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" id="Covered" value="Covered" ng-model="formData.covered" ng-true-value = "'Covered'">
                            Covered
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" id="Uncovered" value="Uncovered" ng-model="formData.uncovered" ng-true-value="'Uncovered'">
                            Uncovered
                        </label>
                     
                    </div>

                    <!-- Query button. Note that its tied to queryUsers() function from queryCtrl.  -->
                    <button type="submit" class="btn btn-danger btn-block" ng-click="queryCourts()">Search</button>
                </form>
            </div>

            <!-- Footer panel for displaying count. Note how it will only display if queryCount is greater than 0 -->
            <div ng-show="queryCount>0" class="panel-footer">
                <p class="text-center"> We Found {{queryCount}} courts.</p>
            </div>
        </div>
    </div>
</div>  