extends layout

//- block content
//-   .container.theme-showcase(role='main')
//-     h1= title
//-     .row
//-       .col-md-6
//-         form(action='/basketcourts', method='POST', role='form')
//-             .form-group
//-               label(for='') Descripcion
//-               input.form-control(type='text', name='desc', autofocus,required, placeholder='Add yout task...')
//-             button.btn.btn-primary(type='submit') Submit
//-       .col-md-6
//-         .jumbotron
//-           ul#tasks.list-group
//-             each court,index in basketcourts
//-               li.list-group-item(data-index=index) #{court.courtname} Address : #{court.adress[0].street}
//-                 a(href="#") delete


block content
  .container.theme-showcase(role='main')
    h1= title
    div 
      a(href='/courts') Show courts !
    .row
      .col-md-9
        #basketball_court
          
      .col-md-3
        div
            span
              | Lat: 
              input#lat(type='text')
        div 
            span
              | Lon: 
              input#lon(type='text')
        div 
            button#addLocation Add Court !










    //- <div id="basketball_court"></div>
    //- <div>

    //- <span>Lat: <input type="text" id='lat'></span><br>
    //- <span>Lon: <input type="text" id='lon'></span>
      
    //- </div>