#home-map,#search-map  {
	height: 490px;
	margin-bottom: 20px;

}

/*  GENERAL CHANGES   */
/*--------------------------------------------*/
@-ms-viewport{
  width: device-width;
}

* {
	font-family: 'Fjalla One';
}
#buttonsForm {
	background-color: white;
	color: black;
	border: 2px solid #FC6355;
}

#panelForm{
	background-color: #FC6355;
	color : black;
}

footer {
	margin-top: 5px;
}
/*--------------------------------------------*/

/*  NAVBAR   */
/*--------------------------------------------*/
.navbarIndex {
	min-height: 100px !important;
	background-color: #4C4C4C;
	border: none;
	border-radius: 0px;
}

#logoNav {
	height: 100px;
	
}

.navbar-nav > li {
    float: left !important;
    margin-top: 25px;
}

#navTitle {
	font-size: 22px;
	position:relative;
	letter-spacing: 2px;
	color: orange;
	text-shadow: 3px -1px 2px rgba(198, 0, 0, 1);
}
/*--------------------------------------------*/


/*  DETAIL VIEW   */
/*--------------------------------------------*/
#detail-map {
	height: 100%;
	width: 100%;
}


#panelDetView{
	background-color: #FC6355;
	color : black;
}

.titleDetailview{
	color : #FC6355;
}

#defImgDetailView{
	width: 100%;
	height : 50%;
	margin : 0 auto;
}

#buttonsDetailView{
	background-color: white;
	color: black;
	border: 2px solid #FC6355;
	padding: 1%;

}
h4 > #buttonsDetailView {
	margin-left: 22%;
}

.panel-body > #buttonsDetailView{
	margin-top : 3%;
}

/*--------------------------------------------*/


/*  MEDIA QUERIES   */
/*  NAVBAR   */
/*--------------------------------------------*/

@media (min-width:320px) and (max-width: 480px){

#navTitle{
		
		top:-40px;
		right: -130px;
		font-size: 22px;

	}

.navbar-nav > li {
    margin-top: -38px;
    bottom: -20px;
    margin-left: -20px;
}


#logoNav {
	margin-top: 0px;
	margin-bottom: -25px;
}

#home-map,#search-map{
	margin-bottom: 25px;
}


}


@media (min-width:480px) and (max-width: 767px){

#navTitle{
	right: 10%;
	}

.navbar-nav > li {
    float: left !important;
    margin-top: -28px;
    margin-left: -20px;
    top : -25px;
    bottom: -0px;
}

/*.navbar-nav > li:nth-child(3) {
   border: 1px solid red;
   margin-left: 10px;
}
*/


#logoNav {
	margin-top: 0px;
	margin-bottom: -25px;
}

#home-map,#search-map{
	margin-bottom: 25px;
}


}


